
.row{
    margin-right: -100px;
    margin-left: -100px;
}

.col-3{
    max-width: 36%;
    align-items: center;
    padding: 0%;
}

.mb-1{
    text-align: justify;
  }
  
  #main_img{
    width: 100%;
    padding-bottom: 5px;
  }
  
  #images input{
    width: calc(20% - 4px);
    height: 40px;
    margin: 2px;
    display: inline;
  }

  .btn-light{
      display: inline;
      width: 150px;
      margin: 15px;
      margin-top: -15px;
      color: rgb(255, 255, 255);
      background-color: #328fcd;
  }

  .btn-light:hover{
      background-color: #328fcd;
  }

  .card{
     margin: 15px;
  }

  .row{
    border: solid;
    border: 1em;
    margin-right: -50px;
    margin-left: -100px;
  }

  #cost{
    margin-top: -10px;
  }

  .subTitule{
    margin-left: -100px;
    margin-top: 20px;
    margin-bottom: -10px;
  }


.rating{
    transform: translate(+50%,-50%);
    direction: rtl;
    position: absolute;

}

.fa-star{
  color: #CFD8DC !important;
}

.rating label{
    color: #CFD8DC !important;
    transition: 0.1s;
}

.rating input{
    display: none;
}

.checked, .rating label:hover ~ label, .rating label:hover{
    color: #FFA500 !important;
}

.rating input:checked, .rating input:checked ~ label{
    color: #FFA500 !important;
}

.newComment{
  border: 1px solid !important;
}